/* text-color = rgba(5, 5, 5, 0.85) */
body {
  background: #fff;
  color: #2c2c2c;
  font-family: 'Linux Libertine', serif;
  font-feature-settings: 'kern', 'liga', 'clig', 'onum' 1;
  margin: 0;
  background-image: linear-gradient(#eee 1px, transparent 1px);
  background-size: 100% 12px;
}
#text {
  max-width: 528px;
  margin: 0 auto;
}
#highlight {
  position: absolute;
  background: #fffbf1;
/* z-index -1 */
  mix-blend-mode: multiply;
  pointer-events: none;
}
p {
  margin: 0;
}
.text-seg {
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  padding: 12px 24px;
}
.note {
  text-align: justify;
  font-size: 24px;
  line-height: 36px;
  padding: 0 24px;
  hyphens: auto /* Doesn't work in Chrome and others */;
}
.note p {
  margin: 12px 0;
}
.hide {
  display: none;
}
